<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.ex04.dto.UserDto" alias="userDto"/>
        <typeAlias type="com.example.ex04.dto.ProductDto" alias="productDto"/>
        <typeAlias type="com.example.ex04.dto.OrderDto" alias="orderDto"/>
    </typeAliases>

</configuration>