<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ex03.mapper.MemberMapper">
    <insert id="insert">
        insert into TBL_MEMBER (MEMBER_NUMBER, MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME)
        values (SEQ_MEMBER.NEXTVAL, #{memberId},#{memberPassword},#{memberName})
    </insert>

    <select id="selectNumber" resultType="long">
        SELECT MEMBER_NUMBER FROM TBL_MEMBER
        WHERE MEMBER_ID = #{memberId} AND MEMBER_PASSWORD = #{memberPassword}
    </select>

    <insert id="insert2" parameterType="memberDto">
                -- 파라미터의 필드이름
        <selectKey keyProperty="memberNumber" order="BEFORE" resultType="Long">
            SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
        </selectKey>

        insert into TBL_MEMBER (MEMBER_NUMBER, MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME)
        values (#{memberNumber}, #{memberId},#{memberPassword},#{memberName})
    </insert>

    <select id="selectAll" resultType="memberDto">
        SELECT MEMBER_NUMBER, MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME
        FROM TBL_MEMBER
    </select>

    <select id="selectByName" resultType="memberDto">
        SELECT MEMBER_NUMBER, MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME
        FROM TBL_MEMBER
        WHERE MEMBER_NAME LIKE '%'|| #{memberName}||'%'
    </select>




</mapper>