<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ex04.mapper.OrderMapper">
    <select id="selectByUserNumber" resultType="orderDto">
        SELECT USER_NUMBER, PRODUCT_NUMBER, ORDER_CNT
        FROM TBL_ORDER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <insert id="insert">
        INSERT INTO TBL_ORDER(USER_NUMBER, PRODUCT_NUMBER, ORDER_CNT)
        VALUES (#{userNumber},#{productNumber},#{orderCnt})
    </insert>

    <update id="update">
        UPDATE TBL_ORDER
        SET ORDER_CNT = #{orderCnt}
        WHERE USER_NUMBER =#{userNumber} AND PRODUCT_NUMBER =#{productNumber}
    </update>

    <delete id="delete">
        DELETE FROM TBL_ORDER
        WHERE USER_NUMBER = #{userNumber} AND PRODUCT_NUMBER = #{productNumber}
    </delete>
</mapper>

















