server:
  port: 10000

spring:
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
  data:
    mongodb:
      uri: mongodb+srv://test:1234@mycluster.mwgck.mongodb.net/?retryWrites=true&w=majority&appName=myCluster
      database: myCluster
  jpa:
    hibernate:
      #                  ddl-auto: create
      #            ddl-auto: create-drop
      ddl-auto: update
  #      ddl-auto: validate
  security:
    user:
      name: aaa
      password: 1234

jwt:
  #HS512 알고리즘을 사용할 것이기 때문에 512bit, 즉 64byte 이상의 secret key를 사용해야 한다.
  secret: a2FyaW10b2thcmltdG9rYXJpbXRva2FyaW10b2thcmltdG9rYXJpbXRva2FyaW10b2thcmltdG9rYXJpbXRva2FyaW10b2thcmltdG9rYXJpbXRva2FyaW10b2thcmltdG9rYXJpbXRva2FyaW10b2thcmltdG9rYXJpbXRva2FyaW10b2thcmltdG9rYXJpbQ==
  expiration_time : 86400 # ttl (초)